Xcursor.size: 20

URxvt.color12: rgb:5c/5c/cc
URxvt.font: xft:DejaVu Sans Mono:pixelsize=15,\
            xft:Noto Mono
/* xft:LiberationMono-Regular:pixelsize=15, \ */
/*             xft:Inconsolata:pixelsize=20, \ */
/*             xft:DejaVu Sans Mono:pixelsize=15, \ */
/*             xft:Nimbus Mono L:pixelsize=15, \ */

URxvt.perl-ext-common: default,matcher,selection-to-clipboard,font-size

!URxvt.scrollBar: false

! special
*.foreground:   #dedede
*.background:   #2b2b2b
*.cursorColor:  #dedede

! black
*.color0:       #2e3436
*.color8:       #555753

! red
*.color1:       #cc0000
*.color9:       #ef2929

! green
*.color2:       #4e9a06
*.color10:      #8ae234

! yellow
*.color3:       #c4a000
*.color11:      #fce94f

! blue
*.color4:       #3465a4
*.color12:      #729fcf

! magenta
*.color5:       #75507b
*.color13:      #ad7fa8

! cyan
*.color6:       #06989a
*.color14:      #34e2e2

! white
*.color7:       #d3d7cf
*.color15:      #eeeeec


URxvt.saveLines: 10000
URxvt.scrollBar: true
URxvt.scrollstyle: rxvt
URxvt.scrollBar_floating: true
URxvt.scrollColor: #aaaaaa
URxvt.scrollBar_right: true

! apparently there is some minimum
URxvt.thickness: 1
! Scroll locking
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     true
URxvt.scrollTtyKeypress:    true

URxvt.iso14755:        false
URxvt.iso14755_52:     false
!
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.Home: \033[H
URxvt.keysym.End:  \033[F

! match vte/xterm
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! clear the scrollback
URxvt.keysym.Control-l: command:\033c

! Interaction
! ===========

! allow filepaths to select as one, otherwise delimit
URxvt.cutchars: "\"(),<>[]{}|'`"

! For clickable urls (RMB), not an exact match to gnome-shell.
URxvt.url-launcher: firefox
URxvt.matcher.button: 3
